{% extends 'site_base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% block middle %} 
{% block mainbody %}
<div class="container text-section">
	
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<h1>¿Quienes somos?</h1>
		</div>
	</div>
	<div class="row text-justify">
		<div class="col-md-12 col-lg-12 offset-md-2  offset-lg-2">
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
				Sed neque ex ipsum quia suscipit aspernatur vitae voluptatum quasi. 
				Perferendis maiores sed illo nulla quam eius,
				 vel reiciendis est doloremque ipsam!
				 Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
				 Sed neque ex ipsum quia suscipit aspernatur vitae voluptatum quasi. 
				 Perferendis maiores sed illo nulla quam eius,
				  vel reiciendis est doloremque ipsam!
				  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
				  Sed neque ex ipsum quia suscipit aspernatur vitae voluptatum quasi. 
				  Perferendis maiores sed illo nulla quam eius,
				   vel reiciendis est doloremque ipsam!
				   Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
				   Sed neque ex ipsum quia suscipit aspernatur vitae voluptatum quasi. 
				   Perferendis maiores sed illo nulla quam eius,
					vel reiciendis est doloremque ipsam!
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
					Sed neque ex ipsum quia suscipit aspernatur vitae voluptatum quasi. 
					Perferendis maiores sed illo nulla quam eius,
					 vel reiciendis est doloremque ipsam!
					 Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
					 Sed neque ex ipsum quia suscipit aspernatur vitae voluptatum quasi. 
					 Perferendis maiores sed illo nulla quam eius,
					  vel reiciendis est doloremque ipsam!
					  
				</p>
		</div>
	</div>
</div> 

{% endblock mainbody %}
{% endblock middle %}
