{% extends 'site_base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% block middle %} 
{% block mainbody %}
<div class="container text-section">
	
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<h1>¿Quienes somos?</h1>
		</div>
	</div>
	<div class="row text-justify">
		<div class="col-md-12 col-lg-12 offset-md-2  offset-lg-2">
			<p> Una serie de investigadores de la Unidad de Investigación de la Escuela de Geografía, inscrita en el Programa de Investigación en Geomática Aplicada y Cartografía.
				</p>
		</div>
	</div>
</div> 

{% endblock mainbody %}
{% endblock middle %}
