{% extends 'site_base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% load i18n %}
{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs. 
{% endcomment %}
{%block middle%}
{{ block.super }}

{% block hero %}
{% if block.super %}
{{ block.super }}
{% else %}
<div class="jumbotron">
	<div class="container">
		<h1>{% trans "Welcome" %}</h1>
		<p></p>
		<p>{% blocktrans %}GeoNode is an open source platform for sharing geospatial data and maps.{% endblocktrans %}</p>
	  <p>{% blocktrans %}If you have any questions about the software or service, join our <a href="http://lists.osgeo.org/cgi-bin/mailman/listinfo/geonode-users">mailing list</a>.{% endblocktrans %}</p>
		<a class="btn btn-default btn-lg" target="_blank" href="http://docs.geonode.org/en/master/tutorials/users/index.html" role="button">{% blocktrans %}Get Started &raquo;{% endblocktrans %}</a>
	</div>
</div>
{% endif %}
{% endblock hero %}

{% block mainbody %}
	{% block showcase %}
	<section id="showcase">
	  <div class="row">
		<div class="container text-center">
		  <h2>Featured Datasets</h2>
		  <div class="row home-facets">
		  {% with facet_type='home' %}
		   {% facets as facets %}
			<div class="col-md-6">
			  <p><a href="{% url "layer_browse" %}"><i class="fa fa-square-o fa-4x rotate-45"></i></a></p>
			  <h2><a href="{% url "layer_browse" %}">{{ facets.layer|default:_("No") }} {% blocktrans count counter=facets.layer %}Layer{% plural %}Layers{% endblocktrans %}</a></h2>
			  <p>{% trans "Click to search for geospatial data published by other users, organizations and public sources. Download data in standard formats." %}</p>
			  {% if user.is_authenticated %}
			  <p class="text-center"><a class="btn btn-default" href="{% url "layer_upload" %}" role="button">{% trans "Add layers" %} &raquo;</a></p>
			  {% else %}
			  <p class="text-center"><a class="btn btn-default" href="{% url "layer_browse" %}" role="button">{% trans "Explore layers" %} &raquo;</a></p>
			  {% endif %}
			</div>
			<div class="col-md-6">
			  <p><a href="{% url "maps_browse" %}"><i class="fa fa-map-marker fa-4x"></i></a></p>
			  <h2><a href="{% url "maps_browse" %}">{{ facets.map|default:_("No") }} {% blocktrans count counter=facets.map %}Map{% plural %}Maps{% endblocktrans %}</a></h2>
			  <p>{% trans "Data is available for browsing, aggregating and styling to generate maps which can be saved, downloaded, shared publicly or restricted to specify users only." %}</p>
			  {% if user.is_authenticated %}
			  <p><a class="btn btn-default" href="{% url "new_map" %}" role="button">{% trans "Create maps" %} &raquo;</a></p>
			  {% else %}
			  <p><a class="btn btn-default" href="{% url "maps_browse" %}" role="button">{% trans "Explore maps" %} &raquo;</a></p>
			  {% endif %}
			</div>
			
		  {% endwith %}
		  </div>
		</div>
	  </div>
	</section>
	{% endblock showcase %}

{% endblock mainbody %}

{%endblock middle%}
